/*===================== 
	primary bg color 
=====================*/
:root{
	--primary: #F5977B;
	--color-primary: #F5977B;
	--secondary: #61423A;
	--color-light: #FEF4EA;
}
::-moz-selection {
    background: #F5977B;
    color: #fff;
}
::selection {
    background: #F5977B;
    color: #fff;
}
/* Hex */
.meet-ask-row:after,
.dez-separator.style-skew[class*="style-"]:after,
.dez-separator.style-skew[class*="style-"]:before,
.dez-tilte-inner.skew-title:after,
.date-style-2 .post-date, .pricingtable-title,
.date-style-3.skew-date .post-date,
.date-style-3.skew-date .post-date:before,
.overlay-primary-light:after,
.overlay-primary-middle:after,
.overlay-primary-dark:after,
.widget-title:after,
.site-button,
.comments-area .comment-form p input[type="submit"],
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.footer-line:after,
.testimonial-1 .quote-left:before,
.testimonial-2 .quote-left:before,
.site-filters .active > [class*="site-button"],
.list-num-count > li:before,
.date-style-4 .post-date strong,
.date-style-3 .post-date,
.date-style-2 .post-date, 
.pricingtable-title,
#myNavbar li.active a,
.nav-list li a:hover,
.closebtn,
.closebtn:hover,
.fc-day-header.fc-widget-header,
.fc-button.fc-state-default:hover,
.fc-button.fc-state-down, 
.fc-button.fc-state-active,
.fc-button.fc-state-default,
.dropdown-item.active, .dropdown-item:active{
    background-color: #F5977B;
}
.bg-primary,
.tp-bannertimer.bg-primary{
    background-color: #F5977B !important;
}
/*Hex color :hover */
.site-button:active,
.site-button:hover,
.site-button:focus,
.active > .site-button,
.bg-primary-dark,
.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus ,
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus,
.footer-social li a:hover {
    background-color: #F5977B;
}

/* Rgba color */
.dez-info-has.bg-primary {
    background-color: rgba(38, 170, 93, 0.9);
}

/*===================== 
	primary text color 
=====================*/
a,
.primary li:before,
.breadcrumb-row ul li a,
.header-nav .nav > li.active > a,
.header-nav .nav > li.current-menu-item > a .header-nav .nav > li .sub-menu li a:hover,
.header-nav .nav > li:hover > a,
.header-nav .nav > li .mega-menu > li ul a:hover,
.header-nav .nav > li .sub-menu li:hover > a,
.nav-dark.header-nav .nav > li .sub-menu li:hover > a,
.nav-dark.header-nav .nav > li .mega-menu > li ul a:hover,
blockquote:before,
ol.comment-list li.comment .reply a,
footer a:active,
footer a:focus,
footer a:hover,
footer h1 a,
footer h2 a,
footer h3 a,
footer h4 a,
footer h5 a,
footer h6 a,
footer p a,
button.scroltop,
.testimonial-1 .testimonial-position,
.testimonial-4 .testimonial-name:after,
.testimonial-2 .testimonial-position,
.testimonial-3 .testimonial-position,
.acod-head a:after,
.acod-head a,
.acod-head a:hover,
.acod-head a.collapsed:hover,
.dez-tabs .nav-tabs > li > a i,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.client-pic-white.client-pic li.active:after{
    color: #F5977B;
}
.text-primary{
	color: #F5977B !important;
}
/*===================== 
	primary border color 
=====================*/
.navbar-toggle,
.testimonial-4 .testimonial-pic,
.testimonial-4:after,
.testimonial-4 [class*="quote-"],
button.scroltop,
blockquote,
.widget_gallery li:hover {
    border-color: #F5977B;
}

/*===================== 
	Secondery bg color
 =====================*/
.bg-secondry{
    background-color: #61423A;
}

/*===================== 
	Secondery text color
 =====================*/
.text-secondry {
    color: #61423A;
}
/*===================== 
		Garllery 
 =====================*/
.our-gallery .dez-info-has {
    background-color: #F5977B;
    box-shadow: 0 0 0 15px #F5977B inset, 0 0 0 16px #ffffff inset;
}
.dez-img-overlay1.gradient:before{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#F5977B+0,267fa8+53,26aa5d+100 */
	background: #F5977B; /* Old browsers */
	background: -moz-linear-gradient(45deg, #F5977B 0%, #267fa8 53%, #F5977B 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #F5977B 0%,#267fa8 53%,#F5977B 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #F5977B 0%,#267fa8 53%,#F5977B 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5977B', endColorstr='#F5977B',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.bg-light{
	background-color:#FEF4EA!important;
}

.bgprlight {
    background-color: #FEF4EA;
}