:root{
	
	/* Primary */
	--primary: #0D775E;
	--primary-hover: #011510;
	--primary-dark: #011510;
	
	--secondary: #000;
	--secondary-hover: #000;
	--secondary-light: #A7BFFE;
	--title: #000;
	--bg-light: #FFFAF3;
	--light-dark: #c7efe6;
	--theme-text-color: #000000;
	--dark: #151F37;
    --dark-light: rgba(226, 240, 236, 1);

	
	/* Primary RGBA */
	--rgba-primary-1: rgba(13, 119, 94, 0.1);
	--rgba-primary-2: rgba(13, 119, 94, 0.2);
	--rgba-primary-3: rgba(13, 119, 94, 0.3);
	--rgba-primary-4: rgba(13, 119, 94, 0.4);
	--rgba-primary-5: rgba(13, 119, 94, 0.5);
	--rgba-primary-6: rgba(13, 119, 94, 0.6);
	--rgba-primary-7: rgba(13, 119, 94, 0.7);
	--rgba-primary-8: rgba(13, 119, 94, 0.8);
	--rgba-primary-9: rgba(13, 119, 94, 0.9);
	
	/* Gradient */
	--gradient1: linear-gradient(307deg, #FEEB9D 1.9%, #FFDFE7 67.57%);
	--gradient2: linear-gradient(307deg, #FFEA96 1.9%, #FFB0B0 85.96%);
}