/*===================== Premery bg color =====================*/
:root {
	--color-primary: #e87800;
	--color-secondry: #152332;
	--color-hover: #e2a73a;
	--rgba-primary-1: rgba(232,120,0,0.1);
	--rgba-primary-2: rgba(232,120,0,0.2);
	--rgba-primary-3: rgba(232,120,0,0.3);
	--rgba-primary-4: rgba(232,120,0,0.4);
	--rgba-primary-5: rgba(232,120,0,0.5);
	--rgba-primary-6: rgba(232,120,0,0.6);
	--rgba-primary-7: rgba(232,120,0,0.7);
	--rgba-primary-8: rgba(232,120,0,0.8);
	--rgba-primary-9: rgba(232,120,0,0.9);
	--text-sec:#2d3239;
}
