/*===================== Premery bg color =====================*/
:root {
	--color-primary: #6a1a1f;
	--color-secondry: #7b4600;
	--color-hover: #571418;
	--rgba-primary-1: rgba(106,26,31,0.1);
	--rgba-primary-2: rgba(106,26,31,0.2);
	--rgba-primary-3: rgba(106,26,31,0.3);
	--rgba-primary-4: rgba(106,26,31,0.4);
	--rgba-primary-5: rgba(106,26,31,0.5);
	--rgba-primary-6: rgba(106,26,31,0.6);
	--rgba-primary-7: rgba(106,26,31,0.7);
	--rgba-primary-8: rgba(106,26,31,0.8);
	--rgba-primary-9: rgba(106,26,31,0.9);
	--text-sec:#2d3239;
}
