/*===================== Premery bg color =====================*/
:root {
	--color-primary: #cc9f5a;
	--color-secondry: #152332;
	--color-hover: #bb975f;
	--rgba-primary-1: rgba(204,159,90,0.1);
	--rgba-primary-2: rgba(204,159,90,0.2);
	--rgba-primary-3: rgba(204,159,90,0.3);
	--rgba-primary-4: rgba(204,159,90,0.4);
	--rgba-primary-5: rgba(204,159,90,0.5);
	--rgba-primary-6: rgba(204,159,90,0.6);
	--rgba-primary-7: rgba(204,159,90,0.7);
	--rgba-primary-8: rgba(204,159,90,0.8);
	--rgba-primary-9: rgba(204,159,90,0.9);
	--text-sec:#2d3239;
}
